@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655836904025') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobaotese:before {
  content: "\f0033";
}

.icon-shumashouji:before {
  content: "\3457";
}

.icon-nvzhuang:before {
  content: "\e60f";
}

.icon-anquan:before {
  content: "\e607";
}

.icon-nanzhuangleimu:before {
  content: "\e6f6";
}

.icon-dianpu:before {
  content: "\e895";
}

.icon-gouwuche-tianchong:before {
  content: "\e70c";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-fukuan:before {
  content: "\e672";
}

.icon-jiaju-:before {
  content: "\e821";
}

.icon-shiwu-:before {
  content: "\ebc7";
}

.icon-shoutibao:before {
  content: "\e6bc";
}

.icon-huabanfuben:before {
  content: "\e63a";
}

.icon-yiliao:before {
  content: "\e646";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-bangzhu:before {
  content: "\e8c3";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-xiezi:before {
  content: "\e7d6";
}

.icon-xialajiantou:before {
  content: "\e645";
}

