@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655714084975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianpu:before {
  content: "\e895";
}

.icon-gouwuche-tianchong:before {
  content: "\e70c";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-shoutibao:before {
  content: "\e6bc";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-xialajiantou:before {
  content: "\e645";
}

